{% extends 'layout.html' %}

{% block body %}
<div class="container mt-3">
    <span><i class="fa fa-user-o" aria-hidden="true"></i> </span>
    <h3 class="text-center">
        Add Corebase info
    </h3>
    <a href="{{url_for('navigation')}}" class='btn btn-secondary float-right '>Back</a>
    <br>
    <form method ="POST" action="{{url_for('new_corebase')}}">
        <div class="form-group">
          {{ form.oilname.label(class="form-control-label") }}
          {{ form.oilname(class="form-control") }}
         
        </div>
        <div class="form-group">
          {{ form.wellname.label(class="form-control-label") }}
          {{ form.wellname(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.coretimes.label(class="form-control-label") }}
            {{ form.coretimes(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.topdepth.label(class="form-control-label") }}
            {{ form.topdepth(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.bottomdepth.label(class="form-control-label") }}
            {{ form.bottomdepth(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.coretotallength.label(class="form-control-label") }}
            {{ form.coretotallength(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.harvestrate.label(class="form-control-label") }}
            {{ form.harvestrate(class="form-control") }}
          </div>
        <div class="form-group">
            {{ form.batchno.label(class="form-control-label") }}
            {{ form.batchno(class="form-control") }}
          </div>
        <div >
          {{ form.submit(class='btn btn-primary btn-md')}}
        </div>
      </form>
      
</div>
{% endblock %}

